.channels {
  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-top: 50px;
    text-align: center;

    @include onPhone {
      font-size: 28px;
    }

    @include onTablet {
      font-size: 30px;
    }
    @include onDescktop {
      font-size: 36px;
    }
    @include onTV {
      font-size: 52px;
    }

    &::after {
      content: url(../images/tickets.png);
      width: 40px; 
      height: 40px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: $colorText;
    text-align: center;
    margin-top: 8px;

    @include onTablet {
      text-align: left;
    }
  }

  &__filter {
    display: flex;
    margin-top: 24px;
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 8px;
    line-height: 40px;
    background-color: transparent;
    color: #fff;
    padding: 0 16px;
    margin-right: 8px;

    &:hover {
      background-color: $colorButton;
      border-color: $colorButton;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 24px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    max-width: 100%;
  }

  &__show-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    
    @include onTV {
      font-size: 18px;
    }
  }
}
