.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;

  @include onPhone {
    max-width: 375px;
    padding: 0 16px;
  }

  @include onTablet {
    max-width: 768px;
    padding: 0 46px;
  }

  @include onDescktop {
    max-width: 990px;
    padding: 0 48px;
  }

  @include onTV {
    max-width: 1920px;
    padding: 0 229px;
  }
}
