.page {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;

  scroll-behavior: smooth;

  &__section-connection {
    background: linear-gradient(#131212, #000, #381a38);
    padding: 22px 0;
  }

  &__section-channels {
    background:
      url(../images/BG_connect.svg) center no-repeat,
      url(../images/web.png) left no-repeat;
    background-color: #221322;
    padding-bottom: 22px;
  }

  &__section-devises {
    background: linear-gradient(#1D1B28, #161215);
    padding: 22px 0;
  }

  &__section-questions {
    background: linear-gradient(#161215, #1D1B28,);
    padding: 22px 0;
  }

  &__footer {
    background: 
      url(../images/tree.png) left no-repeat,
      url(../images/pump.svg) bottom right no-repeat,
      linear-gradient(#1D1721, #2F2343, #1C2D36, #131212);
  }
}
